/* enable absolute positioning */
.inner-addon {
    position: relative;

    & .icon-button {
        position: absolute;
        top: 0;
    }
    & .is-invalid{
        background-image: none;
    }
}

/* align icon */
.left-addon {
    & .icon-button {
        left: 0px;
    }

    & input {
        padding-left: 30px;
    }
}

.right-addon {
    & .icon-button {
        right: 0px;
    }

    & input {
        padding-right: 30px;
    }
}

.invalid-feedback-select-multiple { 
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}

.select-multiple-is-invalid {
    border-color: #dc3545;
}