.card {
    display: flex;
    background: white;
    position: relative;
    flex-direction: column;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 5px 15px -8px rgba(0, 0, 0, 0.24),
        0 8px 10px -5px rgba(0, 0, 0, 0.2);
    top: -40px;
}

.profile {
    top: -75px;
    display: flex;
    justify-items: center;
    align-items: center;

    & .profile-info {
        width: 80%;
    }

    & .avatar {
        margin-top: -100px;
        text-align: center;
    }

    & .location,
    h3,
    h5 {
        text-align: center;
    }

    & .right-btn-group {
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        height: 85px;
        justify-content: space-between;
        flex-direction: column;
        top: 3vh;
        right: 25px;
    }

    & .disabilities {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 3vh;
        margin-bottom: .5rem;
        left: 25px;
    }
}

@media(max-width:800px) {
    .profile {
        text-align: center;

        .right-btn-group {
            position: initial;
        }

        .disabilities {
            position: initial;
        }
    }
}

.background-pic {
    width: 100%;
    height: 250px;
}